@import "globals/mixin.scss";
* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
// container
.max-width-container {
  padding: 0 80px;
  max-width: 1320px;
  @media only screen and (max-width: 767px) {
    padding: 0 30px;
  }
}
.inner-container {
  margin: 0 auto;
}
.footer-inner-container {
  margin-left: 100px;
}
// container

// herosection

.hero {
  background-image: url("/images/bg-1.jpg");
  @include bg-imag;

  .hero-top-title {
    @include flex-coloum;
    @include top-title;
  }
  .hero-main-heading {
    @include flex-coloum;
    span {
      color: $light-color;
      font-size: $h1;
      line-height: 195px;
      font-weight: 500;
      @media only screen and (max-width: 767px) {
        font-size: 64px;
        line-height: 95px;
      }
    }
  }
  .hero-text {
    color: $light-color;
    font-size: 36px;
    font-weight: 400;
    line-height: 52px;
    @media only screen and (max-width: 767px) {
      font-size: 30px;
    }
    a {
      @include anchore;
      color: $light-color;
    }
  }
}
// herosection

//section2
.color-fill-heding {
  .inner-content {
    width: 40%;
    @media only screen and (max-width: 767px) {
      width: 100%;
    }
    .color-text {
      padding: 10px 0;
      color: rgb(182, 182, 182, 0.2);
      background: linear-gradient(to right, black, black) no-repeat;
      -webkit-background-clip: text;
      background-clip: text;
      background-size: 0%;
      transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.9s;
    }
    h4 {
      font-size: $h4;
      margin-bottom: 15px;
    }
    p {
      font-size: $anchore-text;
      line-height: 36px;
    }
    &.type-two {
      h4 {
        font-size: $h4;
      }
      a {
        @include anchore;
        color: $dark-color;
        margin-top: 50px;
      }
    }
    &.type-three {
      h4 {
        font-size: 80px;
      }
      a {
        @include anchore;
        color: $dark-color;
        margin-top: 50px;
      }
    }
  }
}
//section2end

// section3
.wrapperRollingText {
  white-space: nowrap;
  .rollingText {
    font-size: $h1;
    font-weight: 500;
    display: inline-block;
    padding-left: 10px;
  }
  &.rolling-Text-white {
    color: wheat;
  }
}
// section3end

// section4
.portfolio-image-section {
  .image-large {
    width: 110%;
    .image-item {
      width: 105%;
      height: auto;
    }
  }
  .image-small {
    width: 100%;
    .image-item {
      width: 65%;
      height: auto;
    }
  }
  &.section-two {
    margin-top: 225px;
  }
}
//section4end
.scroll-gallary {
  overflow: hidden;
  background-color: black;
  height: 100vw;
  @media (max-width: 768px) {
    height: 180vw;
  }
  .inner-container {
    position: absolute;
    padding: 0 150px;
    @media (max-width: 768px) {
      padding: 0 30px;
    }
  }
  .scroll-gallary-text {
    position: relative;
    z-index: 1;
    padding: 100px 0;
    text-align: center;
    color: $light-color;
    @media (max-width: 768px) {
      padding: 60px 0;
    }
    h5 {
      font-size: 22px;
    }
    h1 {
      font-size: 170px;
      @media (max-width: 768px) {
        font-size: 70px;
      }
    }
    p {
      margin-top: 30px;
      padding-top: 20px;
      font-size: 24px;
      border-top: 1px solid grey;
    }
  }
  .gallary-image {
    .image-block {
      margin-top: 30px;
      display: flex;
      &.image-right {
        justify-content: start;
      }
      &.image-left {
        justify-content: end;
      }
    }
    img {
      width: 50%;
      margin-top: 150px;
      border-radius: 5px;
      @media (max-width: 768px) {
        margin-top: 100px;
      }
    }
  }
}

//footer
.footer {
  background-color: black;
  .hero-top-title {
    @include top-title;
    @include flex-coloum;
    color: $light-color;
    span {
      margin-top: 35px;
    }
  }
  .social-share {
    display: flex;
    justify-content: space-between;
  }
}
