//1 variables

//1.1 typography
$h1: 154px;
$h2: 80px;
$h3: 50px;
$h4: 48px;
$h5: 38px;
$anchore-text: 18px;

//1.2 color
$light-color: white;
$dark-color:black;
//2 mixin
@mixin flex-coloum {
  display: flex;
  flex-direction: column;
}
@mixin bg-imag {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@mixin anchore{
   font-size: $anchore-text;
   text-decoration: none;
   font-weight: 500;
   display: inline-block;
}

@mixin img {
  width: 50%;
  margin-top: 150px;
  border-radius: 5px;
}

@mixin top-title{
  span {
    font-size: 24px;
    color: $light-color;
    font-weight: 500;
    @media only screen and (max-width: 767px) {
      font-size: $anchore-text;
    }
  }
}



